src/Services/OTAInterface_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="http://ws.wrapper.core.ota.gide.com/2012-07-18" name="OTAWebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wrapper.core.ota.gide.com/2012-07-18" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.wrapper.core.ota.gide.com/2012-07-18" schemaLocation="OTAInterface.xsd"/>
    </xsd:schema>
  </types>
  <message name="lock">
    <part name="lockRequest" element="tns:lockRequest"/>
  </message>
  <message name="lockResponse">
    <part name="otaResponse" element="tns:otaResponse"/>
  </message>
  <message name="download">
    <part name="downloadRequest" element="tns:downloadRequest"/>
  </message>
  <message name="downloadResponse">
    <part name="otaResponse" element="tns:otaResponse"/>
  </message>
  <message name="unlock">
    <part name="unlockRequest" element="tns:unlockRequest"/>
  </message>
  <message name="unlockResponse">
    <part name="otaResponse" element="tns:otaResponse"/>
  </message>
  <message name="updateFile">
    <part name="updateFileRequest" element="tns:updateFileRequest"/>
  </message>
  <message name="updateFileResponse">
    <part name="otaResponse" element="tns:otaResponse"/>
  </message>
  <message name="sendData">
    <part name="sendDataRequest" element="tns:sendDataRequest"/>
  </message>
  <message name="sendDataResponse">
    <part name="otaResponse" element="tns:otaResponse"/>
  </message>
  <message name="statusCheck">
    <part name="statusCheckRequest" element="tns:statusCheckRequest"/>
  </message>
  <message name="statusCheckResponse">
    <part name="statusCheckResponse" element="tns:statusCheckResponse"/>
  </message>
  <portType name="OTAWebService">
    <operation name="lock">
      <input message="tns:lock"/>
      <output message="tns:lockResponse"/>
    </operation>
    <operation name="download">
      <input message="tns:download"/>
      <output message="tns:downloadResponse"/>
    </operation>
    <operation name="unlock">
      <input message="tns:unlock"/>
      <output message="tns:unlockResponse"/>
    </operation>
    <operation name="updateFile">
      <input message="tns:updateFile"/>
      <output message="tns:updateFileResponse"/>
    </operation>
    <operation name="sendData">
      <input message="tns:sendData"/>
      <output message="tns:sendDataResponse"/>
    </operation>
    <operation name="statusCheck">
      <input message="tns:statusCheck"/>
      <output message="tns:statusCheckResponse"/>
    </operation>
  </portType>
  <binding name="OTAWebServicePortBinding" type="tns:OTAWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="lock">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="download">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="unlock">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="statusCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OTAWebService">
    <port name="OTAWebServicePort" binding="tns:OTAWebServicePortBinding">
      <soap:address location="http://10.208.168.145:7105/vms-ota/OTAInterface"/>
    </port>
  </service>
</definitions>