src/Services/Users/history_1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="users/history"/>
  <resources base="http://${#Global#Servicehost}:${#Global#Serviceport}">
    <resource path="vms/rest/users/{vmsuserid}/history" id="users/history">
      <doc xml:lang="en" title="users/history"/>
      <param name="vmsuserid" default="${#Project#VMSUserId_user}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="start" default="${#Project#Start}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="limit" default="${#Project#Limit}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="sort" default="${#Project#Sort}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="direction" default="${#Project#Direction}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="GET" id="Get">
        <doc xml:lang="en" title="Get"/>
        <request/>
        <response status="200">
          <representation mediaType="application/json;charset=UTF-8"/>
        </response>
      </method>
    </resource>
  </resources>
</application>