src/Services/Users/services.history.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="users/subscribers/services/history"/>
  <resources base="">
    <resource path="vms/rest/users/{vmsuserid}/subscribers/{msisdn}/services/{serviceid}/history" id="users/subscribers/services/history">
      <doc xml:lang="en" title="users/subscribers/services/history"/>
      <param name="vmsuserid" default="${#Project#VMSUserId_user}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="msisdn" default="${#Project#Msisdn}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="serviceid" default="${#Project#ServiceId}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="limit" default="${#Project#Limit}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="sort" default="${#Project#Sort}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="direction" default="${#Project#Direction}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="start" default="${#Project#Start}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="GET" id="Get">
        <doc xml:lang="en" title="Get"/>
        <request/>
        <response status="404">
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
        </response>
        <response status="200">
          <representation mediaType="application/json;charset=UTF-8"/>
        </response>
        <response status="400">
          <representation mediaType="text/html;charset=utf-8"/>
        </response>
      </method>
    </resource>
  </resources>
</application>