src/Services/Subscriber/activate_1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="subscribers/msisdn/services/id/activate"/>
  <resources base="http://${">
    <resource path="vms/rest/subscribers/{msisdn}/services/{id}/activate" id="subscribers/msisdn/services/id/activate">
      <doc xml:lang="en" title="subscribers/msisdn/services/id/activate"/>
      <param name="msisdn" default="${#Project#MsIsdn} " type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="id" default="${#Project#CorporateId} " type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="PUT" id="Put">
        <doc xml:lang="en" title="Put"/>
        <request>
          <representation mediaType="application/xml"/>
        </request>
        <response status="">
          <representation mediaType="application/xml"/>
        </response>
        <response status="404">
          <representation mediaType=""/>
        </response>
        <response status="409 422 500 502">
          <representation mediaType="text/plain;charset=UTF-8"/>
        </response>
        <response status="200">
          <representation mediaType="application/json;charset=UTF-8"/>
        </response>
      </method>
    </resource>
  </resources>
</application>