src/Services/Subscriber/lock_1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="subscribers/msisdn/services/id/lock"/>
  <resources base="http://${#Global#Servicehost}:${#Global#Serviceport} ">
    <resource path="vms/rest/subscribers/{msisdn}/services/{id}/lock" id="subscribers/msisdn/services/id/lock">
      <doc xml:lang="en" title="subscribers/msisdn/services/id/lock"/>
      <param name="msisdn" default="${#Project#Msisdn} " type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="id" default="${#Project#CorporateId} " type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="PUT" id="Put">
        <doc xml:lang="en" title="Put"/>
        <request>
          <representation mediaType="application/xml"/>
        </request>
        <response status="">
          <representation mediaType="application/xml"/>
        </response>
        <response status="409">
          <representation mediaType="text/plain;charset=UTF-8"/>
        </response>
        <response status="200">
          <representation mediaType="application/json;charset=UTF-8"/>
        </response>
      </method>
    </resource>
  </resources>
</application>